<div class="row"  id="timkiem">
    <!-- <div class="col-lg-6">
      <div class="input-group">
          <div class="input-group-btn search-panel">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Tìm kiếm</span>
              </button>

          </div>
          <input type="text" [(ngModel)] = "mssv" class="form-control" name="x" placeholder="Nhap MSSV">
          <span class="input-group-btn">
              <button class="btn btn-default" (click)="search_mssv()" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="btn-group" >
            <button type="button"  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chọn lớp <span class="caret"></span>
            </button>
            <ul *ngIf="isready" class="dropdown-menu">
              <li *ngFor="let lop of datas.listlop"><a href="javascript:void(0)">{{lop.tenlop}}</a></li>
            </ul>
          </div>
    </div> -->
    <div class=' col-lg-12' style="margin-top: 30px;">
        <table class="table table-bordered table-hover table-responsive" >
            <thead>
                <tr>
                    <th>STT</th>
                    <th style="text-align: center"><label>MSSV</label></th>
                    <th>Ten</th>
                    <th>Lớp</th>
                    <th>Mon</th>
                    <th>Diem</th>
                    <th>Ngay thi</th>
                    <tH></tH>
                </tr>
            </thead>
            <tbody *ngIf="isready">
                <tr *ngFor="let kqt of listketquathi; let i=index;">
                    <td>{{(i+1)}}</td>
                    <td>{{kqt.mssv}}</td>
                    <td>{{kqt.sinhvien.name}}</td>
                    <td>{{getLop(kqt.sinhvien.malop)}}</td>
                    <td>{{getMon(kqt.dethi.mamon)}}</td>
                    <td>{{kqt.diem}}</td>
                    <td>{{kqt.thoigianbatdau}}</td>
                    <td><a [routerLink]="['/reviewtest/'+kqt.id]">Xem lai bai thi</a></td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
