<div class='panel-body'>
  <div class='form-group' style="padding-bottom: 60px;">
    <div class="col-md-6">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          <span id="search_concept">Tìm kiếm</span>
                        </button>

                    </div>
                    <input type="text" class="form-control" name="x" placeholder="Nhap MSSV">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
    </div>
    <div class="col-md-6">
        <div class="btn-group" >
            <button type="button" style="padding: 8px 12px ; font-size: 15px" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chọn lớp <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Lớp 13T1</a></li>
              <li><a href="#">Lớp 13T2</a></li>
              <li><a href="#">Lớp 13T3</a></li>
              <li><a href="#">Lớp 13T4</a></li>
            </ul>
          </div>
    </div>
  </div>
  <div class='table-body'>
      <table class="table table-bordered" style="margin-top: 50px; margin-bottom: 100px">
          <tr>
              <th>STT</th>
              <th style="text-align: center"><label>MSSV</label></th>
              <th>Ten</th>
              <th>Lớp</th>
              <th>Mon</th>
              <th>Diem</th>
              <th>Ngay thi</th>
              <tH></tH>
          </tr>
          <tr>
              <td>1</td>
              <td>10213
              </td>
              <td>Viet Vu</td>
              <td>13T1</td>
              <td>Hoa</td>
              <td>8</td>
              <td>12/10/17</td>
              <td><a href="#">Xem lai bai thi</a></td>
          </tr>
          <tr>
              <td>2</td>
              <td>10214
              </td>
              <td>Hung Vinh</td>
              <td>13T2</td>
              <td>Hoa</td>
              <td>3</td>
              <td>12/10/17</td>
              <td><a href="#">Xem lai bai thi</a></td>
          </tr>
        </table>
  </div>
</div>
