<div class="container">
	<div>
		<h1 class="text-center">Xem Lịch Thi</h1>
	</div>
	
	<div >
		<table class="table table-bordered" id="tab">
			<tr>
        		<th>STT</th>
        		<th>Môm Thi</th>
        		<th>Ngày Thi</th>
        		<th>Phòng Thi</th>
        		<th>Danh Sách</th>
        		
      		</tr>
      		<tr>
        		<th>1</th>
        		<th>Tin</th>
        		<th>20/10/2017</th>
        		<th>F103</th>
        		<th><a href="#">Xem</a></th>
        		
      		</tr>
		</table>	
	</div>
    <div class="button-group text-center ">
        <button class="btn btn-primary" type="button" id="btn1">Thêm mới</button>
        <button class="btn btn-primary" type="button">Hủy</button>
    </div>
</div>