.text-center{
	    padding-top: 70px;
}
#btn1{
	margin-right: 234px;
}
#tab{
	margin-top: 50px;
}
#btn1[_ngcontent-c2] {
  margin-right: 235px;
  margin-left: 230px;
}
#hrefdelete {
  margin-left: 10px;
}
