<div class="container">
	<div>
		<h1 class="text-center">Xem Lịch Thi</h1>
	</div>

	<div >
		<table class="table table-bordered" id="tab">
			<tr>
        <th>STT</th>
        <th>Môn Thi</th>
        <th>Ngày Thi</th>
        <th>Thời gian</th>
        <th>Tổng câu hỏi</th>
        <th>Phòng Thi</th>
        <th>Danh Sách</th>
      </tr>
      <tr *ngFor="let lichthi of listlichthi; let i = index;">
        <th>{{i+1}}</th>
        <th>{{lichthi.get_mon.tenmon}}</th>
        <th>{{lichthi.thoigianbatdauthi}}</th>
        <th>{{lichthi.thoigianthi}}</th>
        <th>{{lichthi.tongcauhoi}}</th>
        <th>{{lichthi.phong}}</th>
        <th><a href="#">Xem</a></th>
      </tr>
		</table>
	</div>
    <div class="button-group text-center ">
        <button class="btn btn-primary" type="button" id="btn1">Thêm mới</button>
        <button class="btn btn-primary" type="button">Hủy</button>
    </div>
</div>
