.container{
	margin-top: 50px;
}
#formten{
	padding-top: 50px;
}
#formngaysinh{
	padding-top: 50px;
}
#formmssv{
	padding-top: 10px;
}
#form-check{
	padding-top: 10px;
  padding-left: 33px;
}
#formdiachi {
  padding-top: 50px;
  padding-left: 33px;
}
#formchonlop{
	padding-top: 50px;
    padding-left: 38px;
}
#buttonthem{
	padding-top: 50px;
}
#form1{
	    border: solid #f7f7f9;
	    padding-top: 50px;
	    height: 300px
}
#form2{
	    border: solid #f7f7f9;
	    padding-top: 50px;
	    height: 300px
}
#drop-menu{
	margin-top: -66px;
    margin-left: 229px;
}
.row{
	padding-top: 60px;
	height: auto;
}
.text-center{
	margin-top: 36px;
}
#select{
}
