<div class="container">
	<div>
		<h1 class="text-center">Thêm Sinh Viên</h1>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div id="form1">
				<div class="form-group" id="formmssv">
					<label class="col-sm-4 control-label">Mã số sinh viên</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" >
					</div>
				</div>
				<div class="form-group" id="formten">
					<label class="col-sm-4 control-label">Tên</label>
					<div class="col-sm-8">
						<input type="text" name=""  class="form-control">
					</div>
				</div>
				<div class="form-group" id="formngaysinh">
					<label class="col-sm-4 control-label">Ngày sinh</label>
					<div class="col-sm-8">
						<input type="text" name=""  class="form-control">
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div id="form2">
				<div class="form-check" id="form-check">
					<label class="col-sm-4 control-label">Gioi Tính</label>
					<div class="form-check-label col-sm-2">
	      				<input type="checkbox" class="form-check-input">
	      				Nam
	    			</div>
	    			<div class="form-check-label col-sm-2">
	      				<input type="checkbox" class="form-check-input">
	      				Nữ
	    			</div>
				</div>
				<div class="form-group" id="formchonlop">
					<label class=" col-md-4 control-label">Chọn lớp</label>
					<div id="select">
						<select >
			  				<option selected="selected">13T1</option>
			  				<option>13T2</option>
			  				<option>13T3</option>
  					    </select>
  					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="button-group text-center " id="buttonthem">
		<button class="btn btn-primary" type="button">Thêm mới</button>
		<button class="btn btn-primary" type="button">Hủy</button>
	</div>
</div>