<div class="container">
	<div>
		<h1 class="text-center">Dang Ki Lich Thi</h1>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label class="col-md-4">Chon mon</label>
			<select>
  				<option selected="selected">Tin Hoc Dai Cuong</option>
  				<option>JAVA</option>
  				<option>Lap Trinh Web</option>
  			</select>
		</div>
		<div class="col-md-6">
			<label>Chon Ngay</label>
			<input type="text">
		</div>
	</div>
	<div class="form">
		<table class="table table-bordered">
			<tr>
        <th>STT</th>
        <th>MSSV</th>
        <th>Ten</th>
        <th>Lop</th>
        <th>Status</th>
      </tr>
      <tr>
        <th>01</th>
        <th>0001</th>
        <th>An</th>
        <th>13T2</th>
        <th><input type="checkbox">Them</th>
      </tr>
    </table>
	</div>
</div>
