.text-center{
	margin-top: 112px;
}
.col-md-4{
	margin-top: 50px;
	border: solid #f7f7f9;
	height: 200px;
}
.col-md-8{
	margin-top: 50px;
}
#mamon,#text-mamon{
	padding-top: 79px;
}
select[multiple], select[size] {
  height: 300px;
}
.text-center[_ngcontent-c2] {
  margin-top: 20px;
}
