.text-center{
	margin-top: 112px;
}
.col-md-4{
	margin-top: 50px;
	border: solid #f7f7f9;
	height: 200px;
}
.col-md-8{
	margin-top: 50px;
}
#mamon,#text-mamon{
	padding-top: 79px;
}
select[multiple], select[size] {
  height: 300px;
}
.text-center[_ngcontent-c2] {
  margin-top: 20px;
}
#formthemsinhvien{
  background: #e5e5e5; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #e5e5e5 0%,#ffffff 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #e5e5e5 0%,#ffffff 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #e5e5e5 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  font: 300 15px "Open Sans",Arial,sans-serif;
}
#header{
  margin-top: 150px;
}
