<div class='panel-body'>
  <div class='form-group' style="padding-bottom: 60px;">
    <div class="col-md-3 col-md-offset-4">
      <div class="btn-group">
        <button type="button" style="padding: 8px 12px ; font-size: 15px" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Chọn môn
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Hoa</a>
          </li>
          <li>
            <a href="#">Tim</a>
          </li>
          <li>
            <a href="#">CN</a>
          </li>
          <li>
            <a href="#">Video</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='table-body'>
    <table class="table table-bordered" style="margin-top: 50px; margin-bottom: 100px">
      <tr>
        <th>STT</th>
        <th style="text-align: center">
          <label>Mã Đề Thi</label>
        </th>
        <th style="text-align: center" >Môn</th>
        <th style="text-align: center">
          <label>Số Lượng Câu Hỏi</label>
        </th>
        <tH></tH>
      </tr>
      <tr>
        <td>1</td>
        <td>10213
        </td>
        <td>Hoa</td>
        <td>40</td>
        <td>
          <a href="#">Xem cau hoi</a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>10214
        </td>
        <td>Sinh Hoc</td>
        <td>40</td>
        <td>
          <a href="#">Xem cau hoi</a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>10215
        </td>
        <td>Hinh Hoc</td>
        <td>40</td>
        <td>
          <a href="#">Xem cau hoi</a>
        </td>
      </tr>
    </table>
  </div>
</div>
