<div class='panel-body'>
    <div class='form-group' style="padding-bottom: 60px;">
      <div class="col-md-3 col-md-offset-4">
          <div class="btn-group" style="margin-left: 90px;" >
              <button type="button" style="padding: 8px 12px ; font-size: 15px" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Chọn lớp <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Lớp 13T1</a></li>
                <li><a href="#">Lớp 13T2</a></li>
                <li><a href="#">Lớp 13T3</a></li>
                <li><a href="#">Lớp 13T4</a></li>
              </ul>
            </div>
      </div>
    </div>
    <div class='table-body'>
        <table class="table table-bordered" style="margin-top: 50px; margin-bottom: 100px">
            <tr>
                <th>STT</th>
                <th style="text-align: center"><label>MSSV</label></th>
                <th>Ten</th>
                <th>Lớp</th>
                <th>Mon</th>
                <th>Diem</th>
            </tr>
            <tr>
                <td>1</td>
                <td>10213
                </td>
                <td>Viet Vu</td>
                <td>13T1</td>
                <td>Hoa</td>
                <td><input type="text" value="8" style="width: 30px; text-align: center"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>10214
                </td>
                <td>Hung Vinh</td>
                <td>13T2</td>
                <td>Hoa</td>
                <td><input type="text" value="3" style="width: 30px; text-align: center"></td>
            </tr>
          </table>
    </div>
    <div class="buttonsave">
        <button type="button" class="btn btn-primary">Save</button>
    </div>
  </div>
