<div class="row">
    <div class="col-lg-12">
		<h1 *ngIf="listdanhsach" class="text-center">Danh Sách Sinh Viên Lớp {{listdanhsach[0].malophp}} {{listdanhsach[0].mon.tenmon}}</h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-table "></i><a [routerLink]="['/xemdanhsachlophocphan']">Xem danh sách </a>->Xem Sinh Viên
            </li>
            <li class="active">
                <i class="fa fa-dashboard"></i><a [routerLink]="['/themsinhvienvaolophocphan']">Thêm sinh viên</a>
            </li>
            <li>
              <i class="fa fa-dashboard"></i><a [routerLink]="['/themlophocphan']">Thêm lớp học phần </a>
          </li>
        </ol>
    </div>
</div>
	<div class="col-lg-12">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>MSSV</th>
                    <th>Tên Sinh viên</th>
                    <th>Lớp</th>
                    <th>#</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let danhsach of listdanhsach; let i = index">
                    <td><span >{{i+1}}</span></td>
                    <td><span>{{danhsach.mssv}}</span></td>
                    <td>{{danhsach.student.name}}</td>
                    <div *ngFor="let lop of listlop">
                    <td *ngIf="danhsach.student.malop==lop.id">{{lop.tenlop}}</td>
                    </div>
                    <td><a href="javascript:void(0)" (click)="deleteSinhvien(danhsach.mssv)">   <span class="glyphicon glyphicon-trash"></span></a></td>
                  </tr>
            </tbody>
          </table>
    </div>

	</div>
