<div class="container" *ngIf="listdanhsach">
	<div id="header" >
		<h1 *ngIf="listdanhsach" class="text-center">Danh Sách Sinh Viên Môn {{listdanhsach[0].mon.tenmon}}</h1>
	</div>
	<div id="table">
		<table class="table table-bordered">
			<tr>
        <th>STT</th>
        <th>MSSV</th>
        <th>Tên Sinh viên</th>
        <th>Lớp</th>
        <th>#</th>
			</tr>
			<tr *ngFor="let danhsach of listdanhsach; let i = index">
        <td><span >{{i+1}}</span></td>
				<td><span>{{danhsach.mssv}}</span></td>
        <td>{{danhsach.student.name}}</td>
        <td>{{danhsach.student.lop}}</td>
        <td><a href="javascript:void(0)" (click)="deleteSinhvien(danhsach.mssv)">   <span class="glyphicon glyphicon-trash"></span></a></td>
			</tr>
		</table>
	</div>
</div>
