<div class="row">
    <div  *ngIf="mon" class="col-lg-12">
        <h1 class="page-header text-center">
            Danh Sách Lớp Học Phần Môn {{mon[0].tenmon}}
        </h1>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-table "></i><a [routerLink]="['/xemdanhsachmon']">Xem danh sách môn học</a>->{{mon[0].tenmon}}
        </li>
            <li>
                <i class="fa fa-dashboard"></i> <a [routerLink]="['/themsinhvienvaolophocphan/'+id_mon]">Thêm sinh viên vào lớp học phần </a>
            </li>
        </ol>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã Lớp HP</th>
                    <th>Tên Môn</th>
                    <th>DS Sinh Viên</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lophocphan of mon; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{lophocphan.malophp}}</td>
                    <td>{{lophocphan.tenmon}}</td>
                    <td><a [routerLink]="['/xemdanhsachlophocphan/danhsachsinhvien/'+lophocphan.malophp]"> DS</a></td>
                    <td><a href="javascript:void(0)" (click)="xoaLopHocPhan(lophocphan.malophp)">   <span class="glyphicon glyphicon-trash"></span></a></td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>
