<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Quan li thi trac nghiem</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Home</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản lí sinh viên<b class="caret"></b></a>
                    <ul class="dropdown-menu" style="background: #bdc3c7">
                        <li><a [routerLink]="['/xemdanhsach']">Xem danh sách sinh viên</a></li>
                        <li><a [routerLink]="['/themsinhvien']">Thêm sinh viên</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản lí lớp học phần<b class="caret"></b></a>
                    <ul class="dropdown-menu" style="background: #bdc3c7 ">
                        <li><a [routerLink]="['/xemdanhsachlop']">Xem danh sách lớp học phần</a></li>
                        <li><a [routerLink]="['/themlophocphan']">Thêm mới lớp học phần</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản lí lịch thi<b class="caret"></b></a>
                    <ul class="dropdown-menu" style="background: #bdc3c7">
                        <li><a [routerLink]="['/xemlichthi']">Xem lịch thi</a></li>
                        <li><a [routerLink]="['/dangkilichthi']">Đăng ký lịch thi</a></li>
                    </ul>
                </li>
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản lí đề thi<b class="caret"></b></a>
                    <ul class="dropdown-menu" style="background: #bdc3c7">
                        <li><a [routerLink]="['/listexam']">Xem danh sách đề thi</a></li>
                        <li><a [routerLink]="['/createxam']">Tạo mới đề thi</a></li>
                    </ul>
                </li> -->
                <li><a [routerLink]="['/score']"> Quản lí điểm</a></li>
                <li class="dropdown">
                    <a href="question" class="dropdown-toggle" data-toggle="dropdown">Quản lí câu hỏi<b class="caret"></b></a>
                    <ul class="dropdown-menu" style="background: #bdc3c7">
                        <li><a [routerLink]="['/question']">Xem ngân hàng câu hỏi</a></li>
                        <li><a [routerLink]="['/addquestion']">Tạo mới câu hỏi</a></li>
                    </ul>
                </li>
                <li><a [routerLink]="['/reviewtest']">Xem lại bài thi</a></li>
            </ul>
            <ul *ngIf="authencativeService.checkLogin()" class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)">Quản lí tài khoản</a></li>
                  <li><a href="javascript:void(0)" (click)="logout()">Thoát</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
</div>
