#exampleInputEmail1{
	display: inline-block;
    width: 260px;

}
#danhsach{
	
	padding-top: 112px;
}
#ds{
	padding-top: 50px;
}
.container{
	margin-top: 50px;
}
#form1{
	padding-top: 50px;
}
#drop{
	    margin-left: 109px;
}
.dropdown-menu{
    margin-left: 118px;
}
.btn{
    margin-right: 278px;
    padding-right: 29px;
    padding-left: 31px
}
.text-center{
	    padding-top: 22px;
}