.panel-body {

    background: #e5e5e5; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #e5e5e5 0%,#ffffff 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #e5e5e5 0%,#ffffff 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #e5e5e5 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    font: 300 15px "Open Sans",Arial,sans-serif;
  }

  label.control-label {
    font-weight: 600;
    color: #777;
  }
  table {
    white-space: pre-line;
    text-align: center;
    margin-top: 50px; margin-bottom: 100px;
}
.table-bordered>tbody>tr>th{
  text-align: center;
}
.glyphicon{
  line-height: 4;
}
