<div class="panel-body" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-3 col-md-offset-3" if="all">
      <button type="button" (click)="getAllMon()" class="btn btn-primary btn-lg active" style="font-size: 15px">Xem tất cả</button>
    </div>
    <div class="col-md-6">
      <div class="btn-group" >
        <button type="button"  style="padding: 8px 12px ; font-size: 15px" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Xem theo môn <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" >
          <li *ngFor="let mon of mon"><a href="javascript:void(0)" (click)="getCauHoiMon(mon.id)" >{{mon.tenmon}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th class="col-md-1 tcenter">STT</th>
        <th class="col-md-7 tcenter" ><label>Nội Dung</label></th>
        <th class="col-md-2 tcenter">Môn</th>
        <th class="col-md-1 tcenter">Đáp Án</th>
        <th class="col-md-1 tcenter">#</th>
      </tr>
      <tr *ngFor="let cauhoi  of listcauhoi;let i = index">
        <td>{{i+1}}</td>
        <td style="text-align: left">{{cauhoi.noidungcauhoi}}
            Đáp án:
          <p *ngFor="let listdapan of cauhoi.listdapan">{{listdapan.tendapan}}: {{listdapan.noidungdapan}}</p>
        </td>
        <td>
          {{cauhoi.mon.tenmon}}
        </td>
        <td>
          <p>{{getDapan(cauhoi.listdapan, cauhoi.dapan)}}</p>
        </td>
        <td>
          <div class="row">
             <a [routerLink]="['/updatequestion/'+cauhoi.id]" ><span class="glyphicon glyphicon-pencil"></span></a><a href="javascript:void(0)" (click)="deleteQuestion(cauhoi.id, i)">   <span class="glyphicon glyphicon-trash"></span></a>
          </div>
      </td>
      </tr>
    </table>
  </div>
</div>
