<div class="panel-body" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-6" if="all">
      <button type="button" class="btn btn-primary btn-lg active" style="font-size: 15px">Xem tất cả</button>
    </div>
    <div class="col-md-6">
      <div class="btn-group" >
        <button type="button" style="padding: 8px 12px ; font-size: 15px" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Xem theo môn <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" >
          <li *ngFor="let mon of mamon ; "><a href="#">{{mon.id + ' '+ mon.tenmon  }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="table-question form-group">
    <table class="table table-bordered" style="margin-top: 50px; margin-bottom: 100px">
      <tr>
          <th>STT</th>
          <th style="text-align: center"><label>Nội Dung</label></th>
          <th>Đáp Án</th>
          <th>Mức Độ</th>
      </tr>
      <tr>
          <td>1</td>
          <td>
            <div>
                <p>Hãy cho biết đâu là  ngôn ngữ bạn thích nhất?</p>
                <p>A:Java &emsp; &#09; B:C#&emsp; &#09; C: Python</p>
            </div>
          </td>
          <td>A:Java</td>
          <td>Nomal</td>
      </tr>
      <tr>
          <td>2</td>
          <td>
            <div>
                <p>Hãy cho biết đâu là  ngôn ngữ bạn thích nhất?</p>
                <p>A:Java &emsp; &#09; B:C#&emsp; &#09; C: Python</p>
            </div>
          </td>
          <td>A:Java</td>
          <td>Nomal</td>
      </tr>
      <tr>
          <td>3</td>
          <td>
            <div>
                <p>Hãy cho biết đâu là  ngôn ngữ bạn thích nhất?</p>
                <p>A:Java &emsp; &#09; B:C#&emsp; &#09; C: Python</p>
            </div>
          </td>
          <td>A:Java</td>
          <td>Nomal</td>
      </tr>
    </table>
  </div>
</div>
