<div class="panel-body" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-6" if="all">
      <button type="button" class="btn btn-primary btn-lg active" style="font-size: 15px">Xem tất cả</button>
    </div>
    <div class="col-md-6">
      <div class="btn-group" >
        <button type="button" style="padding: 8px 12px ; font-size: 15px" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Xem theo môn <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" >
          <li *ngFor="let mon of mamon ; "><a href="#">{{mon.id + ' '+ mon.tenmon  }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="table-question form-group">
    <table class="table table-bordered" style="margin-top: 50px; margin-bottom: 100px">
      <tr>
        <th>STT</th>
        <th style="text-align: center"><label>Nội Dung</label></th>
        <th>Môn</th>
        <th>Đáp Án</th>
        <th>#</th>
      </tr>
      <tr *ngFor="let cauhoi  of listcauhoi;let i = index">
        <td>{{i}}</td>
        <td >
          <div>
              <p>{{cauhoi.noidungcauhoi}}</p>
              <p *ngFor="let listdapan of cauhoi.listdapan">{{listdapan.tendapan}}: {{listdapan.noidungdapan}}</p>
          </div>
        </td>
        <td>{{cauhoi.mon.tenmon}}</td>
        <td>
          <p style="white-space: pre">{{getDapan(cauhoi.listdapan, cauhoi.dapan)}}</p>
        </td>
        <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
    </table>
  </div>
</div>
