#footer{
    width: 100%;
    bottom: 0;
}
body{
  min-height: 1000px;
}
.example{
  margin: 5px;
}
#wrapper {
  margin-top: 50px;
  background-color: #222;
  padding-left: 0;
  line-height: normal;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}
@media(min-width:768px) {
  #wrapper {
      padding-left: 200px;
  }

  #page-wrapper {
      padding: 0px;
  }
}

/* Top Navigation */

