<!-- <link href="./css/sb-admin.scss" rel="stylesheet">
<link href="./font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

<header-component></header-component>
<!--<navbar-component></navbar-component>-->
<!-- Page Content -->
	<div class="row">
        <alert></alert>
    	<router-outlet></router-outlet>
    </div>

    <!-- Footer -->
<div id="footer" style="margin-top: 50px">
    <div class="container">
        <p class="text-center">Trường Đại Học Bách Khoa </p>
    </div>
</div>
<!-- /.container -->
